{% extends 'base.html' %}

{% block header %}

{% endblock %}

{% block content %}

    {# <h2>Max Pain</h2> #}

    <div class="pain-container">

        {# Sidebar for dropdown menu #}
        <div class="pain-sidebar">

            <form method="post">

                {# Market Index Dropdown #}
                <div class="sidebar-item">
                    <label for="index">Ticker</label>
                    <div>
                    <input class="text-input" name="symbol" placeholder="{{ ticker }}" id="symbol" value="{{ ticker }}" style="text-transform:uppercase" required>
                    <button class="button" type="submit" value="Search">Update</button>
                    </div>
                </div>

                {# Sector Dropdown #}
                <div class="sidebar-item">
                    <label for="sector">Expiration</label>
                    <select class="dropdown-bubbles" name="expiry" id="expiry" onchange="this.form.submit()">
                        {% for expiry in expiries %}
                            <option value="{{expiry}}" {% if expiry == selected_exp_date %} selected {% endif %}>{{expiry}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="sidebar-item">
                    {# <div>Expiration Date: {{ selected_exp_date }}</div> #}
                    <div>Max Pain Price: <b>${{ max_pain_strike }}</b></div>
                    <div>Previous Close: <b>${{ previous_close }}</b></div>
                </div>

                <div class="sidebar-blurb">
                    <p class="title">What is a Max Pain Calculation?</p>
                    <p>The max pain price is the strike price with the most option contracts (both calls and puts) and is the price at which the stock would cause the greatest financial loss at expiration. The theory is that some larger financial institutions that are selling the majority of these option contracts might try and push a stock towards this max pain price to harvest the most capital from their positions.</p>
                </div>

            </form>

        </div>


        <div class="chart-container">

            {# Canvas for stock chart #}
            <div class="pain-chart">
                <canvas id="maxPainChart" width="200" height="100"></canvas>
            </div>

        </div>

        {# Chart.js script #}
        <script>
            const ctx = document.getElementById('maxPainChart').getContext('2d');
            new Chart(ctx, {
                type: 'bar',
                data: {
                labels: {{ labels | safe }},
                datasets: [
                    {
                        label: 'Call Losses',
                        data: {{ call_losses | safe }},
                        backgroundColor: 'rgba(75, 192, 192, 0.5)'
                    },
                    {
                        label: 'Put Losses',
                        data: {{ put_losses | safe }},
                        backgroundColor: 'rgb(255, 99, 132, 0.5)'
                    }
                ]
                },
                options: {
                    plugins: {
                        legend: {
                            display: true,
                        },
                        title: {
                            display: true,
                            text: '{{ ticker }} Max Pain = {{ max_pain_strike }} | Previous Close: ${{ previous_close }}',
                        }
                    },
                    scales: {
                        x: {
                            title: {
                                display: true,
                                text: 'Strikes',
                                stacked: true
                            }
                        },
                        y: {
                            title: {
                                display: true,
                                text: 'Potential Losses at Expiry',
                                stacked: true
                            }
                        }
                    }
                }
            });
        </script>

    </div>

{% endblock %}