{# https://www.optionsprofitcalculator.com/calculator/long-call.html #}

{% extends 'base.html' %}

{% block header %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
    <script src="https://unpkg.com/htmx.org@1.6.1/dist/htmx.min.js"></script>
{% endblock %}

{% block content %}

    <div class="content">
    <div class="gradient1">Options Profit Calculator</div>

    {# Option Profit Calculator form #}
    <form id="mainForm" method="POST">

        <h3>Underlying Stock</h3>
        <div class="flex-container">

            {# Search for ticker #}
            <div class="flex-item vertical-center">
                <label for="symbol">Symbol</label>

                <span>
                    <input class="text-input" name="symbol" placeholder="ABC" id="symbol" value="{{ request.form['symbol'] }}" style="text-transform:uppercase" required>
                    <button class="button" type="submit" value="Search">Get Price</button>
                </span>
            </div>

            {# Current Price #}
            <div class="flex-item vertical-center">
                <label for="price">Current Price*</label>
                <input class="text-input" name="price" id="price" value="{{ last_price }}">
            </div>

            {# Only show these fields if the symbol is entered and valid #}
            {% if show_div == True %}

                {# Search for expiration date #}
                <div class="flex-item vertical-center">
                    <label for="expiry">Expiration Dates</label>
                    <select class="text-input" name="expiry" id="expiry" onchange="this.form.submit()">
                        {% for expiry in expiries %}
                            <option value="{{expiry}}" {% if expiry == selected_exp_date %} selected {% endif %}>{{expiry}}</option>
                        {% endfor %}
                    </select>
                </div>
                <br>

            {% endif %}

        </div>

        <br>
        <div class="flex-container">

            {# Price Range Selection #}
            <div class="flex-item">
                <h4>Price Range at Expiration</h4>
                    <span>$</span>
                    <input class="text-input" placeholder="auto" name="lower_bound" id="lower_bound" value="{{ lower_bound }}" style="width: 75px">
                    <span> - </span>
                    <input class="text-input" placeholder="auto" name="upper_bound" id="upper_bound" value="{{ upper_bound }}" style="width: 75px">
                    {% if show_div == True %}
                        <p>*Adjust price range and re-select an option to refresh</p>
                    {% endif %}
            </div>

            {# Buy/Write Selection #}
            <div class="flex-item">
                <h4>Buy/Write</h4>
                <div class="call-put">
                    <input type="radio" id="buy" name="buy_write" value="buy" {% if buy_write == 'buy' %} checked {% endif %} onchange="this.form.submit()">
                    <span>Buy</span>
                    <input type="radio" id="write" name="buy_write" value="write" {% if buy_write == 'write' %} checked {% endif %} onchange="this.form.submit()">
                    <span>Write</span>
                </div>
            </div>

            {# Moneyness Selection #}
            <div class="flex-item vertical-center">
                <fieldset>
                <legend>Moneyness</legend>
                <input type="radio" id="near" name="moneyness" value="near" {% if moneyness == 'near' %} checked {% endif %} onchange="this.form.submit()">
                <label for="near" class="normal-font">Near the Money</label><br>
                <input type="radio" id="all-contracts" name="moneyness" value="all-contracts" {% if moneyness == 'all-contracts' %} checked {% endif %} onchange="this.form.submit()">
                <label for="all-contracts" class="normal-font">All Contracts</label>
                </fieldset>
            </div>

        </div>

        {% if show_div == True %}
            <p style="font-style: italic;">Select an option below:</p>
        {% endif %}

    </form>

    {# Show tables #}
    <div class="tables-container">
        
        <div class="table-item-small">

            {% for table in tables %}

                {{ table|safe }}
                
            {% endfor %}
        </div>

        {# Profit/loss table updates here when a strike price is clicked #}
        <div class="table-item-big">

            <div id="profit-loss-table"></div>
                
        </div>
    </div>

    </div>

    <script type="text/javascript">
        // Get clicked strike price and form data
        function getUserInput(a){
            var symbol = document.getElementById("symbol").value;
            var strike = a.getAttribute("value");
            var expiry = document.getElementById("expiry").value;
            var price = document.getElementById("price").value;
            var lower_bound = document.getElementById("lower_bound").value;
            var upper_bound = document.getElementById("upper_bound").value;
            var buy_write = document.querySelector('input[name="buy_write"]:checked').value;

            
            console.log("AJAX REQUEST");
            console.log("Symbol:", symbol);
            console.log("Strike:", strike);
            console.log("Expiry:", expiry);
            console.log("Price:", price);
            console.log("Lower bound:", lower_bound);
            console.log("Upper bound:", upper_bound);
            console.log("Buy/Write:", buy_write);

            // Send data to options.py file for profit calculation
            $.ajax({
                type: "POST",
                url: "{{ url_for('options.profit_calc') }}",
                contentType: 'application/json', 
                data: JSON.stringify({'symbol': symbol, 'strike': strike, 'expiry': expiry, 'price': price , 'lower_bound': lower_bound, 'upper_bound': upper_bound, 'buy_write': buy_write}), 
                success: function(data){
                    console.log("");
                }
            });
        }
    </script>

{% endblock %}