{% extends 'base.html' %}

{% block header %}

{% endblock %}

{% block content %}

    <br>
    <br>
    <br>

    <!-- About Me -->
    <div class="about-me-container" id="about">
        <div class="profile-pic">
            <img src="{{ url_for('static', filename='images/profile-pic.jpg') }}" alt="Profile Picture">
        </div>
        <div class="blurb">
            <p>Welcome to my portfolio! I'm a Python Developer and Automation Specialist, currently working in the Biotechnology space--I tell the robots what to do to help expedite Vaccine Clinical Research trials.</p>

            <p>With a strong foundation in biotech and programming, I've developed automated systems that have generated over $10 million in annual revenue for clients. In my most recent project, automation increased throughput by over 700% compared to manual processes, nearly eliminating manual steps and allowing team members to focus on other important tasks. I've also trained operators and subject matter experts while completing test cases and validating the system.</p>

            <p>Experienced in web-scraping with BeautifulSoup and Selenium, data analysis with Pandas and NumPy, visualization with Matplotlib and Seaborn, the Flask framework and (to a lesser extent) the Django framework. Check out my projects and feel free to reach out with questions!</p>

        </div>

    </div>

    <div class="center">
      <a href="{{ url_for('static', filename='Resume - Derek Eklund.pdf') }}" download="Resume - Derek Eklund" class="resume-button">Download Resume</a>
    </div>

    <!-- Projects -->
    <div class="projects-container" id="projects">
      <h2>Projects</h2>
      <br>
      <div class="project-cards">
        <div class="card">
            <a href="{{ url_for('options.scanner') }}">
                <img src="{{ url_for('static', filename='images/option-scanner.png') }}" class="card-img" alt="Project 1">
            </a>
            <h3>Options Scanner</h3>
            <a href="{{ url_for('options.scanner') }}">Link <i class="icon fa-solid fa-arrow-right"></i></a>
        </div>
        <div class="card">
            <a href="{{ url_for('options.profit_calc') }}">
                <img src="{{ url_for('static', filename='images/profit-calc.png') }}" class="card-img" alt="Project 2">
            </a>
            <h3>Options Profit Calculator</h3>
            <a href="{{ url_for('options.profit_calc') }}">Link <i class="icon fa-solid fa-arrow-right"></i></a>
        </div>
        <div class="card">
            <a href="{{ url_for('stocks.watchlist') }}">
                <img src="{{ url_for('static', filename='images/watchlist.png') }}" class="card-img" alt="Project 3">
            </a>
            <h3>Stock Watchlist</h3>
            <a href="{{ url_for('stocks.watchlist') }}">Link <i class="icon fa-solid fa-arrow-right"></i></a>
        </div>
        <div class="card">
            <a href="{{ url_for('stocks.bubbles') }}">
                <img src="{{ url_for('static', filename='images/bubble-chart.png') }}" class="card-img" alt="Project 4">
            </a>
            <h3>Bubble Stock Screener</h3>
            <a href="{{ url_for('stocks.bubbles') }}">Link <i class="icon fa-solid fa-arrow-right"></i></a>
        </div>
        <div class="card">
            <a href="{{ url_for('options.max_pain') }}">
                <img src="{{ url_for('static', filename='images/max-pain.png') }}" class="card-img" alt="Project 5">
            </a>
            <h3>Max Pain Calculator</h3>
            <a href="{{ url_for('options.max_pain') }}">Link <i class="icon fa-solid fa-arrow-right"></i></a>
        </div>
        <div class="card">
            <a href="{{ url_for('stocks.monte_carlo') }}">
                <img src="{{ url_for('static', filename='images/monte-carlo.png') }}" class="card-img" alt="Project 6">
            </a>
            <h3>Monte Carlo Portfolio Simulation</h3>
            <a href="{{ url_for('stocks.monte_carlo') }}">Link <i class="icon fa-solid fa-arrow-right"></i></a>
        </div>
      </div>
    </div>

    <!-- Skills -->
    <section class='skills' id='skills'>
      <h2>Skills</h2>
      <article class="skills-container">
        <div class="skills__item" data-aos='fade-up'>
          <img src="{{ url_for('static', filename='images/python.svg') }}" alt="Python">
          <p>Python</p>
        </div>
        <div class="skills__item" data-aos='fade-up'>
          <img src="{{ url_for('static', filename='images/flask.svg') }}" alt="Flask">
          <p>Flask</p>
        </div>
        <div class="skills__item" data-aos='fade-up'>
          <img src="{{ url_for('static', filename='images/html.svg') }}" alt="HTML5">
          <p>HTML5</p>
        </div>
        <div class="skills__item" data-aos='fade-up'>
          <img src="{{ url_for('static', filename='images/css.svg') }}" alt="CSS">
          <p>CSS</p>
        </div>
        <div class="skills__item" data-aos='fade-up'>
          <img src="{{ url_for('static', filename='images/django.svg') }}" alt="Django">
          <p>Django</p>
        </div>
        <div class="skills__item" data-aos='fade-up'>
          <img src="{{ url_for('static', filename='images/github.svg') }}" alt="GitHub">
          <p>GitHub</p>
        </div>
     </article>
    </section>

    <!-- Contact -->
    <footer>
      <div class="footer-container">
        <div class="footer__text-container" id='contact'>
          <h2>Contact</h2>
          <p>Let's connect if you want to collaborate...</p>
        </div>
        <div class="footer__text-container1">
          <p><span class='phone'>Phone</span> <strong>571-438-0238</strong></p>
          <p><span class='email'>Email</span> <strong>derekeklund32@gmail.com</strong></p>
        </div>
      </div>
      <hr class='footer__nav-hr'>
      <nav class="footer__nav">
        <p class='to-top'><a href="#top"><strong>Derek</strong></a></p>
        <ul class='footer__nav-links'>
          <li><a href="#home">Home</a></li>
          <li><a href="#portfolio">Projects</a></li>
        </ul>
        <p class='to-top'><a href="#top"><strong>Back to top</strong></a></p>
      </nav>
    </footer>

{% endblock %}