{% extends 'base.html' %}

{% block header %}

{% endblock %}

{% block content %}

    <div class="bubbles-container">

        {# Sidebar for dropdown menu #}
        <div class="bubbles-sidebar">

            <div class="sidebar-input">

                <form method="post">

                    <br>

                    {# Initial Invenstment #}
                    <div class="flex-item vertical-center">
                        <label for="initial_sum">Initial Investment</label>
                        <input class="text-input margin-5" name="initial_sum" id="initial_sum" value="{{ initial_sum }}">
                    </div>

                    {# Days for sim #}
                    <div class="flex-item vertical-center">
                        <label for="sim_days">Days to Simulate</label>
                        <input class="text-input margin-5" name="sim_days" id="sim_days" value="{{ sim_days }}" required>
                    </div>

                    {# Number of sims #}
                    <div class="flex-item vertical-center">
                        <label for="num_sims">Number of Simulations</label>
                        <input class="text-input margin-5" name="num_sims" id="num_sims" value="{{ num_sims }}" required>
                    </div>

                    <div id="stock_fields">
                        {% for i in range(field_count) %}
                        <div class="asset-block">
                            <label for="symbol_{{ i+1 }}">Asset {{ i+1 }}</label>
                            <span>
                                <input class="text-input margin-5" name="symbol_{{ i+1 }}" id="symbol_{{ i+1 }}" value="{{ labels[i] }}" style="text-transform:uppercase" required>
                            </span>
                            <span>
                                <input class="allocation-input margin-5" name="alloc_{{ i+1 }}" id="alloc_{{ i+1 }}" value="{{ values[i] }}" required>
                                <span class="percent">%</span>
                            </span>
                        </div>
                        {% endfor %}
                    </div>
        
                    <input type="hidden" name="field_count" id="field_count" value="{{ field_count }}">

                    <br>

                    <div class="center">
                        <button type="button" class="button" onclick="addField()">Add Stock</button>
                        <button type="button" class="red-button" onclick="removeField()">Remove Stock</button>
                    </div>
                    <div class="center">
                        <button type="submit" class="blue-button">Run Simulation</button>
                    </div>

                </form>

                {# Add and remove stock + allocation fields #}
                <script>
                    let fieldCount = {{ field_count }};
                    let maxFields = 10;
                    const stockFields = document.getElementById('stock_fields');
                    const fieldCountInput = document.getElementById('field_count');

                    function addField() {
                        if (fieldCount < maxFields) {
                            fieldCount++;
                            let alloc_array_position = '{{ values[' + (fieldCount - 1) + '] }}';
                            // let alloc_array_position = '{{ values[' + string((fieldCount - 1)) + '] }}';
                            let symbol_count = 'symbol_' + fieldCount;
                            // let symbol_count = 'symbol_' + string(fieldCount);
                            const newField = document.createElement('div');
                            newField.className = 'asset-block';
                            newField.innerHTML = 
                            `<label for="symbol_${fieldCount}">Asset ${fieldCount}</label>
                            <span>
                                <input class="text-input margin-5" name="symbol_${fieldCount}" id="symbol_${fieldCount}" style="text-transform:uppercase" required>
                            </span>
                            <span>
                                <input class="allocation-input margin-5" name="alloc_${fieldCount}" id="alloc_${fieldCount}" required>
                                <span class="percent">%</span>
                            </span>`;
                            stockFields.appendChild(newField);
                            fieldCountInput.value = fieldCount; // Update hidden input
                        } else {
                            alert('Max number of 10 stocks allowed.');
                        }
                        console.log(fieldCount);
                        console.log(stockFields);
                        console.log("Added, yo")
                    }

                    function removeField() {
                        if (fieldCount > 1) {
                            // Find the last stock-field element
                            const stockFieldDivs = stockFields.getElementsByClassName('asset-block');
                            const lastFieldDiv = stockFieldDivs[stockFieldDivs.length - 1];
                            stockFields.removeChild(lastFieldDiv);
                            fieldCount--;
                            fieldCountInput.value = fieldCount; // Update hidden input
                        } else {
                            alert('At least one stock field must remain.');
                        }
                    }

                </script>

            </div>

            {# Canvas for stock chart #}
            <div class="doughnut-chart">
                <canvas id="stockChart" width="200" height="100"></canvas>
            </div>



        </div>

        <div class="monte-graph-container">

            {# Canvas for stock chart #}
            {{ plot | safe }}

        </div>

        {# Chart.js donut script #}
        <script>
            const ctx = document.getElementById('stockChart').getContext('2d');
            new Chart(ctx, {
                type: 'doughnut',
                data: {
                labels: {{ labels | safe }},
                datasets: [{
                    label: 'Allocation %',
                    data: {{ values | safe }},
                    backgroundColor: {{ colors | safe }}
                }]
                },
            });
        </script>

    </div>

{% endblock %}