{% extends 'base.html' %}

{% block header %}

{% endblock %}

{% block content %}

    <br>
    <br>
    <br>

    <div class="working-block">

        <h1 class="working-block">Watchlist ({{ time }})</h1>

        <br>
        <br>

        <form method="POST">

            {% for ticker in prices_dict %}
            
                <div>

                    {# <button class="button"> + {{ ticker }}</button> #}
                    <input class="button" name="ticker" type="submit" value=" + {{ ticker }}">
                    
                    <span>${{ prices_dict[ticker]['price'] }}</span>
                    {% if prices_dict[ticker]['change'] > 0 %}
                        <span style="color: green; font-weight: bold;">{{ prices_dict[ticker]['change'] }}%</span>
                    {% else %}
                        <span style="color: red; font-weight: bold;">({{ prices_dict[ticker]['change'] }}%)</span>
                    {% endif %}

                </div>

            {% endfor %}

        </form>

        <div class="working-block">
        <br>
        <br>

        <p>Added ticker: {{ added_ticker }}</p>
        
        
        </div>

        

    </div>

{% endblock %}