/* Delete all this below. Only for template purposes. */

:root {
    --gray: #c2c8c5;
    --dark-gray: #757070;
    --white: #ffffff;
    --green: #009879;
    --background: #eee;
}

.example {
    background-color: var(--gray);
    color: var(--white);
    border: 1px solid var(--white);
}

.condensed-content {
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
}

.grid-columns {
    display: grid;
    grid-gap: 5px;
    justify-content: start;
}

.center {
    justify-content: center;
}

.bold {
    font-weight: bold;
}

.img-container {
    height: 100%;
    margin: 0;
}

.fade-in {
    /* background: url('/static/images/bull_and_bear_expressionism.png') no-repeat center fixed; */
    background: url('/static/images/monocle_bull.png') no-repeat center fixed;
    width: 100%;
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    animation: fade-in-scale-down 2s ease-out 1;
    -webkit-animation: fade-in-scale-down 2s ease-in-out 1;
    -moz-animation:    fade-in-scale-down 2s ease-in-out 1;
    -o-animation:      fade-in-scale-down 2s ease-in-out 1;
}

@keyframes fade-in-scale-down{
    0%{
      opacity:0;
      -webkit-transform:scale(1.1);
      -ms-transform:scale(1.1);
      transform:scale(1.1)
    }
    
    100%{
      opacity:1;
      -webkit-transform:scale(1);
      -ms-transform:scale(1);
      transform:scale(1);
    }
}

html, body {
    font-family: Verdana, sans-serif;
    background: #eee;
    margin: 0px;
}

.content {
    display: block;
    margin: 0 auto;
    max-width: 70%;
    padding: 0px 20px;
}

/* Navbar */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.active {
    background-color: var(--green);
}

.active:hover {
    background-color: var(--green);
}

li:hover {
    background-color: #111;
}

.sticky{
    /* position: fixed; */
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    /* bottom: 0; */
    /* top: 0; */
    /* border: 3px solid #f1f1f1; */
    right: 0;
    top: 46px; /* seems hacky but works atm */
    z-index: 9;
}

.login-button {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #111;
}

/* Add styles to the form container */
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: #333;
    color: white;
}
  
/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}
  
/* Set a style for the submit/login button */
.form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}

/* End popup form */

.small-text-input {
    padding: 5px;
    margin: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
    width: 25px;
}

.text-input {
    padding: 5px;
    /* margin: 5px; */
    border-radius: 3px;
    border: 1px solid #ccc;
    width: 75px;
}

.large-text-input {
    padding: 5px;
    margin: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
    width: 125px;
}

.dropdown {
    padding: 5px;
    margin: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
    width: 100px;
}

.dropdown-bubbles {
    padding: 5px;
    margin: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
    width: 125px;
}


.button {
    background-color: #009879;
    color: white;
    padding: 5px 15px;
    margin: 5px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.blue-button {
    background-color: #5544e9;
    color: white;
    padding: 5px 15px;
    margin: 5px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.red-button {
    background-color: #e23939;
    color: white;
    padding: 5px 15px;
    margin: 5px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.gray-button {
    background-color: #9d9194;
    color: white;
    padding: 5px 15px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.strike-select {
    color: #377ba8;
    font-style: italic;
}

/* html { font-family: sans-serif; background: #eee;}
body { max-width: 1160px; margin: 0 auto; background: white; } */
/* h1 { font-family: serif; color: #377ba8; margin: 1rem 0; } */
/* a { color: #377ba8; } */
hr { border: none; border-top: 1px solid lightgray; }
/* nav { background: lightgray; display: flex; align-items: center; padding: 0 0.5rem; } */
/* nav h1 { flex: auto; margin: 0; }
nav h1 a { text-decoration: none; padding: 0.25rem 0.5rem; }
nav ul  { display: flex; list-style: none; margin: 0; padding: 0; }
nav ul li a, nav ul li span, header .action { display: block; padding: 0.5rem; } */
/* .content { padding: 0 1rem 1rem; }
.content > header { border-bottom: 1px solid lightgray; display: flex; align-items: flex-end; }
.content > header h1 { flex: auto; margin: 1rem 0 0.25rem 0; } */
.flash { margin: 1em 0; padding: 1em; background: #cae6f6; border: 1px solid #377ba8; }
/* .post > header { display: flex; align-items: flex-end; font-size: 0.85em; }
.post > header > div:first-of-type { flex: auto; }
.post > header h1 { font-size: 1.5em; margin-bottom: 0; }
.post .about { color: slategray; font-style: italic; }
.post .body { white-space: pre-line; } */
/* .content:last-child { margin-bottom: 0; }
.content form { margin: 1em 0; display: flex; flex-direction: column; }
.content label { font-weight: normal; margin-bottom: 0em; }
.content input, .content textarea { margin-bottom: 0em; max-width: 10em; }
.content select { width: 10em; }
.content textarea { min-height: 12em; resize: vertical; } */
/* input.danger { color: #cc2f2e; }
input[type=submit] { align-self: start; min-width: 10em; } */

/* Pandas table styles */

.pd-table {
    width: min-content;
    font-size: 11pt; 
    font-family: Arial;
    border-collapse: collapse; 
    border: 1px solid silver;
    margin: 0 auto;
}

.pd-table tbody {
    border-collapse: collapse;
}

.pd-table td, th {
    padding: 5px;
    text-align: center;
}

.pd-table td {
    white-space: nowrap;
}

.watchlist td {
    min-width: 50px;
}

/* .pd-table thead tr:first-child th:nth-child(2) {
    background: var(--green);
    cursor: pointer;
    color: white;
} */

.pd-table thead tr:first-child {
    background: var(--green);
    cursor: pointer;
    color: white;
}

.profit-table thead tr:first-child {
    background: none;
    cursor: pointer;
    color: white;
}

.profit-table thead tr:nth-child(2) {
    background: var(--green);
    cursor: pointer;
    color: white;
}

/* .scanner-table thead tr:first-child {
    background: var(--green);
    cursor: pointer;
    color: white;
} */


.colored-header {
    background: var(--green);
    color: white;
}

.pd-table tr:nth-child(even) {
    background: #E0E0E0;
}

.scanner tbody tr:hover {
    background: rgb(159, 217, 228);
    cursor: pointer;
}

.top-left-cell {
    background: #eee;
    border-top: hidden;
    border-left:hidden;
}

.top-right-cell {
    background: var(--green);
    cursor: pointer;
    color: white;
}

/* .pd-table td:nth-child(1){
    min-width: 80px;
} */


/* Scanner styles */
.alignleft {
	float: left;
    margin-left: 25%;
}

.alignright {
	float: right;
    margin-right: 25%;
}

.flex-container {
    display: flex;
}

.two-wide-grid-container {
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
}

.three-wide-grid-container {
    display: inline-grid;
    justify-content: space-around;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    background-color: var(--gray);
    border-radius: 10px;
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
}

.flex-item {
    flex-grow: 1;
}

/* Calculator page */

.calc-page {
    display: inline-flex;
    margin: 0 auto;
    max-width: 70%;
    padding: 0px 20px;
}

.calc-container {
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-right: 20px;
    width: 400px;
    height: 460px;
    display: grid;
    grid-gap: 10px;
    background-color: var(--dark-gray);
    padding: 20px;
    border-radius: 10px;
}

.calc-button {
    display: flex;
    justify-content: flex-start;
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    width: 200px;
    height: 100px;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: var(--gray);
}

.calc-button-text {
    text-align: center;
    font-weight: bold;
}

.grid-form {
    display: grid;
    grid-gap: 10px;
}

.gradient1 {
    display: block;
    background: linear-gradient(90deg, #48a2a8 0%, #47df68 100%);
    color: var(--white);
    width: 100%;
    margin: auto;
    /* margin-top: 50px; */
    min-height: 80px;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    padding-top: 50px;
    border-radius: 10px;
}

.radio-bundled {
    display: flex;
    flex-direction: column;
}

/* Scanner page */

.scanner-page {
    /* display: inline-flex;
    flex-direction: column; */
    margin: 0 auto;
    max-width: 70%;
    padding: 0px 20px;
}

.scanner-container {
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-right: 20px;
    width: 800px;
    /* height: 460px; */
    display: grid;
    grid-gap: 10px;
    /* background-color: var(--dark-gray); */
    padding: 20px;
    border-radius: 10px;
}

.gradient2 {
    display: block;
    background: linear-gradient(90deg, #48a2a8 0%, #e1d048 100%);
    color: var(--white);
    width: 100%;
    margin: auto;
    /* margin-top: 50px; */
    min-height: 80px;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    padding-top: 50px;
    border-radius: 10px;
}

.vertical-center {
    display: flex;
    align-items: center;
}

.flex-item label {
    font-weight: bold;
    padding-right: 1em;
}

.radio-buttons {
    display: flex;
}

.radio-buttons label {
    margin-right: 10px;
}

legend {
    font-weight: bold;
}

.normal-font {
    font-weight: normal !important;
}

/* Profit Calc styles */

.fake-link {
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: #069;
    text-decoration: underline;
    cursor: pointer;
}

.tables-container {
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
}

.table-item-small {
    /* margin-top: -10px; */
    margin-right: 20px;
    /* padding: 20px; */
    /* background-color: #f0f0f0; */
    text-align: center; 
    /* border: 1px solid #ccc;  */
}

.table-item-big {
    flex: 2 1 auto;
    margin-top: -60px;
    /* margin: 10px; */
    /* padding: 20px; */
    /* background-color: #f0f0f0; */
    text-align: center;
    /* border: 1px solid #ccc; */
}

.pl-td {
    position: relative;
    cursor: pointer;
}

.pl-td .highlight-cell {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.pl-td .highlight-cell::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.pl-td:hover .highlight-cell {
    visibility: visible;
    opacity: 1;
}

.p100 {
    background-color: #0fc500;
}

.p75 {
    background-color: #51e345;
}

.p50 {
    background-color: #77f16d;
}

.p25 {
    background-color: #96f589;
}

.p5 {
    background-color: #bbfcb2;
}

.p0 {
    background-color: #fff;

}

.p-5 {
    background-color: #ffdbdb;
}

.p-25 {
    background-color: #ff8c8c;
}

.p-50 {
    background-color: #ffb4b4;
}

.p-75 {
    background-color: #f38484;
}

.p-100 {
    background-color: #ef5454;
}

.p-101 {
    background-color: #ff0000;
}

/* Watchlist */

.page-container {
    display: flex;
    flex-direction: column;
    height: 90vh;
}

.stock-summary {
    width: 75%;
}

.financial-summary {
    flex: 1;
    /* min-height: 300px; */
    margin: 10px;
    margin-right: 15%;
    padding: 20px;
    background-color: #f0f0f0;
    text-align: center;
    border: 1px solid #ccc;
}

.watchlist-sidebar {
    display: flex;
    flex-direction: column;
    min-width: 350px;
}

.home-sidebar {
    display: flex;
    flex-direction: column;
    min-width: 250px;
    position: absolute;
    right: 0;
    width: 15%;
    padding-top: 50px;
}

.sidebar-item {
    display: flex;
    margin: 10px;
    padding: 10px;
    /* background-color: #f0f0f0; */
    background-color: rgba(240, 240, 240, 0.5);
    text-align: center;
    border: 1px solid #ccc;
    justify-content: space-between;
    align-items: center;
}

.watchlist-container {
    flex: 2;
    display: flex;
    justify-content: space-between;
}

.green-triangle {
    display: inline-block;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 15px solid rgb(0, 200, 5);
}

.red-triangle {
    display: inline-block;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 15px solid rgb(243, 48, 48);
}

.summary-table tbody tr td {
    border: 1px solid #ccc;
}

.td-label {
    font-weight: bold;
}

.chart-container {
    flex: 1 1 auto;
    justify-content: center;
    margin: 10px;
    padding: 20px;
    padding-top: -5%;
    background-color: #f0f0f0;
    text-align: center;
    border: 1px solid #ccc;
}

.monte-graph-container {
    flex: 1 1 auto;
    justify-content: center;
    margin: 10px;
    margin-top: 60px;
    padding: 20px;
    background-color: #f0f0f0;
    text-align: center;
    border: 1px solid #ccc;
}

.chart {
    padding-top: 10%;
    max-width: 80%;
    margin: 0 auto;
}

.watchlistChart {
    max-width: 80%;
    margin: 0 auto;
}

.doughnut-chart {
    max-width: 100%;
    /* margin: 0 auto; */
}

.matplotlib-chart {
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
}

.sidebar-input {
    padding: 20px;
}

.center {
    text-align: center;
}

.asset-block {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.asset-block label {
    font-weight: bold;
    padding-right: 1em;
}

.bubbles-chart {
    max-width: 95%;
    margin: 0 auto;
    padding-top: 5%;
}

.max-pain-chart {
    max-width: 75%;
    margin: 0 auto;
    padding-top: 5%;
}

.bubbles-container {
    /* flex: 2; */
    display: flex;
    justify-content: space-between;
    border: 1px solid #ccc;
    height: 100vh;
}

.bubbles-sidebar {
    /* flex: 1; */
    display: flex;
    flex-direction: column;
    min-width: 350px;
    border: 1px solid #ccc;
}