/* Delete all this below. Only for template purposes. */

:root {
    --gray: #c2c8c5;
    --dark-gray: #757070;
    --white: #ffffff;
    --green: #009879;
    --background: #eee;
}

.example {
    background-color: var(--gray);
    color: var(--white);
    border: 1px solid var(--white);
}

.condensed-content {
    position: absolute;
    top: 15%;
    left: 10%;
}

.left-center {
    text-align: center;
    margin-left: -30%;
}

/* .condensed-content {
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
} */

/* @media screen and (max-width: 1300px) {
    .condensed-content {
        padding-top: 50px;
    }
    
} */

.grid-columns {
    display: grid;
    grid-gap: 5px;
    justify-content: start;
}

.center {
    justify-content: center;
}

.pad-right {
    padding-right: 5% !important;
}

.bold {
    font-weight: bold;
}

.img-container {
    height: 100%;
    margin: 0;
}

.fade-in {
    /* background: url('/static/images/bull_and_bear_expressionism.png') no-repeat center fixed; */
    background: url('/static/images/monocle_bull.png') no-repeat center fixed;
    /* width: 100vh; */
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    animation: fade-in-scale-down 2s ease-out 1;
    -webkit-animation: fade-in-scale-down 2s ease-in-out 1;
    -moz-animation:    fade-in-scale-down 2s ease-in-out 1;
    -o-animation:      fade-in-scale-down 2s ease-in-out 1;
}

@keyframes fade-in-scale-down{
    0%{
      opacity:0;
      -webkit-transform:scale(1.1);
      -ms-transform:scale(1.1);
      transform:scale(1.1)
    }
    
    100%{
      opacity:1;
      -webkit-transform:scale(1);
      -ms-transform:scale(1);
      transform:scale(1);
    }
}

html, body {
    font-family: Verdana, sans-serif;
    background: #eee;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.content {
    display: block;
    margin: 0 auto;
    max-width: 70%;
    padding: 0px 20px;
}

/* Navbar */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.active {
    background-color: var(--green);
}

.active:hover {
    background-color: var(--green);
}

li:hover {
    background-color: #111;
}

@media screen and (max-width: 1300px) {
    .active:hover {
        background-color: var(--background);
    }

    li:hover {
        background-color: var(--background);
    }
    
}

@media screen and (max-width: 1300px) {
    #user-greeting {
        display: none;
    }
    
}

.sticky{
    /* position: fixed; */
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    right: 0;
    top: 46px; /* seems hacky but works atm */
    z-index: 9;
}

@media screen and (max-width: 968px) {
    .form-popup {
        top: 15%;
        left: 7%;
    }
    
}

.login-button {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #111;
}

@media screen and (max-width: 1300px) {
    .login-button:hover {
        background-color: var(--background);
        color: var(--green)
    }
    
}

/* Add styles to the form container */
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: #333;
    color: white;
}
  
/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}
  
/* Set a style for the submit/login button */
.form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}

/* End popup form */

.small-text-input {
    padding: 5px;
    margin: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
    width: 25px;
}

.text-input {
    padding: 5px;
    /* margin: 5px; */
    border-radius: 3px;
    border: 1px solid #ccc;
    width: 75px;
}

.allocation-input {
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
    width: 40px;
}

.percent {
    pointer-events: none; /* Prevent click on % symbol */
}

.margin-5 {
    margin: 5px;
}

@media screen and (max-width: 968px) {
    .margin-5 {
        margin: 2px;
    }
    
    #stock_fields span .text-input {
        width: 50px;
    }
}

.large-text-input {
    padding: 5px;
    margin: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
    width: 125px;
}

.dropdown {
    padding: 5px;
    margin: 5px;
    border-radius: 3px;
    /* border: 1px solid #ccc; */
    width: 100px;
}

.dropdown-bubbles {
    padding: 5px;
    margin: 5px;
    border-radius: 3px;
    /* border: 1px solid #ccc; */
    width: 125px;
}


.button {
    background-color: #009879;
    color: white;
    padding: 5px 15px;
    margin: 5px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.blue-button {
    background-color: #5544e9;
    color: white;
    padding: 5px 15px;
    margin: 5px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.red-button {
    background-color: #e23939;
    color: white;
    padding: 5px 15px;
    margin: 5px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.gray-button {
    background-color: #9d9194;
    color: white;
    padding: 5px 15px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.strike-select {
    color: #377ba8;
    font-style: italic;
}

select {
    color: black;
}

/* html { font-family: sans-serif; background: #eee;}
body { max-width: 1160px; margin: 0 auto; background: white; } */
/* h1 { font-family: serif; color: #377ba8; margin: 1rem 0; } */
/* a { color: #377ba8; } */
hr { border: none; border-top: 1px solid lightgray; }
/* nav { background: lightgray; display: flex; align-items: center; padding: 0 0.5rem; } */
/* nav h1 { flex: auto; margin: 0; }
nav h1 a { text-decoration: none; padding: 0.25rem 0.5rem; }
nav ul  { display: flex; list-style: none; margin: 0; padding: 0; }
nav ul li a, nav ul li span, header .action { display: block; padding: 0.5rem; } */
/* .content { padding: 0 1rem 1rem; }
.content > header { border-bottom: 1px solid lightgray; display: flex; align-items: flex-end; }
.content > header h1 { flex: auto; margin: 1rem 0 0.25rem 0; } */
.flash { margin: 1em 0; padding: 1em; background: #cae6f6; border: 1px solid #377ba8; }
/* .post > header { display: flex; align-items: flex-end; font-size: 0.85em; }
.post > header > div:first-of-type { flex: auto; }
.post > header h1 { font-size: 1.5em; margin-bottom: 0; }
.post .about { color: slategray; font-style: italic; }
.post .body { white-space: pre-line; } */
/* .content:last-child { margin-bottom: 0; }
.content form { margin: 1em 0; display: flex; flex-direction: column; }
.content label { font-weight: normal; margin-bottom: 0em; }
.content input, .content textarea { margin-bottom: 0em; max-width: 10em; }
.content select { width: 10em; }
.content textarea { min-height: 12em; resize: vertical; } */
/* input.danger { color: #cc2f2e; }
input[type=submit] { align-self: start; min-width: 10em; } */

/* Pandas table styles */

.pd-table {
    width: min-content;
    font-size: 11pt; 
    font-family: Arial;
    border-collapse: collapse; 
    border: 1px solid silver;
    margin: 0 auto;
}

.pd-table tbody {
    border-collapse: collapse;
}

.pd-table td, th {
    /* padding: 5px; */
    padding: max(5px, 0vw);
    text-align: center;
}

.pd-table td {
    white-space: nowrap;
}

.watchlist td {
    min-width: 50px;
}

/* .pd-table thead tr:first-child th:nth-child(2) {
    background: var(--green);
    cursor: pointer;
    color: white;
} */

.pd-table thead tr:first-child {
    background: var(--green);
    cursor: pointer;
    color: white;
}

.profit-table thead tr:first-child {
    background: none;
    cursor: pointer;
    color: white;
}

.profit-table thead tr:nth-child(2) {
    background: var(--green);
    cursor: pointer;
    color: white;
}

/* .scanner-table thead tr:first-child {
    background: var(--green);
    cursor: pointer;
    color: white;
} */


.colored-header {
    background: var(--green);
    color: white;
}

.pd-table tr:nth-child(even) {
    background: #E0E0E0;
}

.scanner tbody tr:hover {
    background: rgb(159, 217, 228);
    cursor: pointer;
}

.top-left-cell {
    background: #eee;
    border-top: hidden;
    border-left:hidden;
}

.top-right-cell {
    background: var(--green);
    cursor: pointer;
    color: white;
}

/* .pd-table td:nth-child(1){
    min-width: 80px;
} */


/* Scanner styles */
.align-left {
	  float: left;
    margin-left: 20%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.align-right {
	  float: right;
    margin-right: 20%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.flex-container {
    display: flex;
}

.two-wide-grid-container {
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
}

.three-wide-grid-container {
    /* display: inline-grid; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* grid-template-columns: auto auto auto; */
    grid-gap: 10px;
    background-color: var(--gray);
    border-radius: 10px;
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: var(--gray);
    border-radius: 10px;
}

.flex-item {
    flex-grow: 1;
}

/* Calculator page */

.calc-page {
    display: inline-flex;
    margin: 0 auto;
    max-width: 70%;
    padding: 0px 20px;
}

.calc-container {
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-right: 20px;
    max-width: 400px;
    height: 460px;
    display: grid;
    grid-gap: 10px;
    background-color: var(--dark-gray);
    padding: 20px;
    border-radius: 10px;
}

.calc-button {
    display: flex;
    justify-content: flex-start;
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    width: 200px;
    min-height: 100px;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: var(--gray);
}

.calc-button-text {
    text-align: center;
    font-weight: bold;
}

.grid-form {
    display: grid;
    grid-gap: 10px;
}

.gradient1 {
    display: block;
    background: linear-gradient(90deg, #48a2a8 0%, #47df68 100%);
    color: var(--white);
    width: 100%;
    margin: auto;
    /* margin-top: 50px; */
    min-height: 80px;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    padding-top: 50px;
    border-radius: 10px;
}

@media screen and (max-width: 1300px) {
    .calc-page {
        padding-top: 50px;
        flex-direction: column;
    }

    .tables-container {
        flex-direction: column;
    }

    .calc-page .tables-container {
        padding-bottom: 20px;
    }

    .table-item-big {
        margin-top: 0px !important;
        padding-bottom: 20px;
    }

    .calc-container {
        width: 300px;
    }

    .gradient1 {
        font-size: 16px !important;
        width: inherit;
    }

    .calc-button {
        width: 150px;
        min-height: 80px;
        margin-bottom: 10px;
        font-size: 14px;
    }
    
    .calc-button-text {
        margin: 0.5em;
    }

    .calc-button span {
        text-align: center;
    }
    
}

.radio-bundled {
    display: flex;
    flex-direction: column;
}

/* Scanner page */

.scanner-page {
    /* display: inline-flex;
    flex-direction: column; */
    margin: 0 auto;
    max-width: 90%;
    padding: 0px 20px;
}

.scanner-container {
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-right: 20px;
    max-width: 800px;
    /* width: 800px; */
    /* height: 460px; */
    display: grid;
    grid-gap: 10px;
    /* background-color: var(--dark-gray); */
    padding: 20px;
    border-radius: 10px;
}

.gradient2 {
    display: block;
    background: linear-gradient(90deg, #48a2a8 0%, #e1d048 100%);
    color: var(--white);
    width: 100%;
    margin: auto;
    /* margin-top: 50px; */
    /* min-height: 80px; */
    min-height: 60px;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    padding-top: 50px;
    /* padding: 30px 30px 0px 30px; */
    border-radius: 10px;
}

@media screen and (max-width: 600px) {
    .gradient2 {
        font-size: 16px;
    }
    
}
@media screen and (max-width: 1000px) {
    .scanner-table {
        overflow-x: auto !important;
    }
    
}

.vertical-center {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-item label {
    font-weight: bold;
    padding-right: 1em;
}

@media screen and (max-width: 968px) {
    .flex-item label {
        font-size: small;
    }

    .asset-block label {
        font-size: small;
    }
}

.radio-buttons {
    display: flex;
}

.radio-buttons label {
    margin-right: 10px;
}

legend {
    font-weight: bold;
}

.normal-font {
    font-weight: normal !important;
}

/* Profit Calc styles */

.fake-link {
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: #069;
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold;
}

.tables-container {
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
}

.table-item-small {
    /* margin-top: -10px; */
    margin-right: 20px;
    /* padding: 20px; */
    /* background-color: #f0f0f0; */
    text-align: center; 
    /* border: 1px solid #ccc;  */
}

.table-item-big {
    flex: 2 1 auto;
    margin-top: -20px;
    /* margin: 10px; */
    /* padding: 20px; */
    /* background-color: #f0f0f0; */
    text-align: center;
    /* border: 1px solid #ccc; */
    overflow-x: auto;
}

.pl-td {
    position: relative;
    cursor: pointer;
}

.pl-td .highlight-cell {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.pl-td .highlight-cell::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.pl-td:hover .highlight-cell {
    visibility: visible;
    opacity: 1;
}

.p100 {
    background-color: #0fc500;
}

.p75 {
    background-color: #51e345;
}

.p50 {
    background-color: #77f16d;
}

.p25 {
    background-color: #96f589;
}

.p5 {
    background-color: #bbfcb2;
}

.p0 {
    background-color: #fff;

}

.p-5 {
    background-color: #ffdbdb;
}

.p-25 {
    background-color: #ff8c8c;
}

.p-50 {
    background-color: #ffb4b4;
}

.p-75 {
    background-color: #f38484;
}

.p-100 {
    background-color: #ef5454;
}

.p-101 {
    background-color: #ff0000;
}

/* Watchlist */

.page-container {
    display: flex;
    flex-direction: column;
    height: 90vh;
}

.stock-summary {
    width: 75%;
}

.financial-summary {
    flex: 1;
    min-height: 200px;
    /* margin: 10px;
    margin-right: 15%; */
    padding: 20px;
    background-color: #f0f0f0;
    text-align: center;
    /* border: 1px solid #ccc; */
}

@media screen and (max-width: 968px) {
    .financial-summary {
        overflow-x: scroll;
        margin: 0;
        padding: 0;
    }

    .financial-summary .pd-table {
        width: fit-content;
        font-size: 8px;
    }

    .watchlist td {
        min-width: 20px;
    }

    .financial-summary .pd-table td {
        white-space: wrap;
    }

    .watchlist-sidebar {
        /* display: none !important; */
        max-height: 200px !important;
        min-width: 200px !important;
        margin: 2% !important;
    }
    
}

@media screen and (max-width: 500px) {
    .pd-table td, th {
        padding: 0px;
    }
    
}

.watchlist-sidebar {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 380px;
    overflow: auto;
    background-color: rgba(140, 220, 180, 0.5);
    border-radius: 10px;
    margin: 1%
}

.watchlist-sidebar::-webkit-scrollbar {
    width: 10px;
}

.watchlist-sidebar::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid var(--green);
    /* should match background, can't be transparent */
    background-color: var(--green);
}

.scanner-table::-webkit-scrollbar {
    height: 8px;
}

.scanner-table::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid var(--green);
    /* should match background, can't be transparent */
    background-color: var(--green);
}

.table-item-big::-webkit-scrollbar {
    height: 8px;
}

.table-item-big::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid var(--green);
    /* should match background, can't be transparent */
    background-color: var(--green);
}

.watchlist-sidebar .sidebar-item {
    border: none;
}

.bubbles-sidebar .sidebar-item {
    border: none;
}

.sidebar-item div {
    display: block;
    justify-content: space-between;
    align-items: center;
}

.home-sidebar {
    display: flex;
    flex-direction: column;
    min-width: 250px;
    position: absolute;
    right: 0;
    width: 15%;
    border-radius: 10px;
    margin-right: 2%;
    margin-top: 2%;
    background-color: rgba(140, 220, 180, 0.5);
    border-radius: 10px;
}

.sidebar-item {
    display: flex;
    /* margin: 10px; */
    padding: 10px;
    /* background-color: #f0f0f0; */
    /* background-color: rgba(240, 240, 240, 0.5); */
    /* background-color: rgba(140, 220, 180, 0.5); */
    text-align: center;
    border: 1px solid #ccc;
    justify-content: space-evenly;
    align-items: center;
}

.bubbles-sidebar .sidebar-item {
    display: block;
}

@media screen and (max-width: 968px) {
    .sidebar-item {
        /* display: block; */
        margin: 0px;
        padding: 0px;
    }
    
}

.sidebar-blurb {
    /* display: flex; */
    margin: 10px;
    padding: 10px;
    /* background-color: #f0f0f0; */
    background-color: rgba(240, 240, 240, 0.5);
    text-align: center;
    /* border: 1px solid #ccc; */
    justify-content: space-between;
    align-items: center;
}

.title {
    font-weight: 600;
    font-size: 28px;
}

@media screen and (max-width: 968px) {
    .title {
        font-size: 16px !important;
    }

    .sidebar-blurb p {
        font-size: 12px;
    }

    .sidebar-item {
        margin: 0px 0px 0px 0px;
        padding: 0px;
    }
    
}

.watchlist-container {
    flex: 2;
    display: flex;
    justify-content: space-between;
}

.green-triangle {
    display: inline-block;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 15px solid rgb(0, 200, 5);
}

.red-triangle {
    display: inline-block;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 15px solid rgb(243, 48, 48);
}

.summary-table tbody tr td {
    border: 1px solid #ccc;
}

.td-label {
    font-weight: bold;
}

.chart-container {
    flex: 1 1 auto;
    justify-content: center;
    margin: 10px;
    padding: 20px;
    padding-top: -5%;
    background-color: #f0f0f0;
    text-align: center;
    /* border: 1px solid #ccc; */
}

#stockChart {
    width: 100% !important;
    height: 50% !important;
}

@media screen and (max-width: 800px) {
    .watchlist-container {
        flex-direction: column;
        padding: 5px;
    }

    .watchlist-container .chart-container {
        margin-top: 25%;
    }

    .chart-container {
        padding: 0px;
        margin: 0px;
    }

    .watchlist-chart {
        max-width: 100% !important;
        margin-right: 5px !important;
    }

    #stockChart {
        width: 100% !important;
        height: 75% !important;
    }
    
}

.monte-graph-container {
    flex: 1 1 auto;
    justify-content: center;
    margin: 10px;
    margin-top: 60px;
    padding: 20px;
    background-color: #f0f0f0;
    text-align: center;
    border: 1px solid #ccc;
}

@media screen and (max-width: 968px) {
    .monte-graph-container {
        margin-top: 10px;
    }
    
}

.chart {
    padding-top: 10%;
    max-width: 80%;
    margin: 0 auto;
}

.watchlist-chart {
    max-width: 80%;
    margin: 0 auto;
}

.doughnut-chart {
    max-width: 100%;
    /* margin: 0 auto; */
}

@media screen and (max-width: 1300px) {
    .doughnut-chart {
        max-width: 100%;
        margin: 0 auto;
    }
    
}

.matplotlib-chart {
    width: 900px;
    max-width: 100%;
    margin: 0 auto;
}

.sidebar-input {
    padding: 10% 10% 0% 10%;
}

@media screen and (max-width: 968px) {
    .sidebar-input {
        padding: 10% 18% 0% 18%;
    }
    
}

.center {
    text-align: center;
}

.asset-block {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.asset-block label {
    font-weight: bold;
    padding-right: 1em;
}

.bubbles-chart {
    /* max-width: 95%; */
    width: 95%;
    height: 70%;
    margin: 0 auto;
    padding-top: 5%;
}

.pain-chart {
    width: 100%;
    height: 150%;
    padding: 0px;
}

/* .max-pain-chart {
    max-width: 75%;
    margin: 0 auto;
    padding-top: 5%;
} */

.bubbles-container {
    /* flex: 2; */
    display: flex;
    justify-content: space-between;
    /* border: 1px solid #ccc; */
    height: 100vh;
}

.pain-container {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 968px) {
    .bubbles-container {
        flex-direction: column;
        padding-top: 10%;
    }

    .pain-container {
        flex-direction: column-reverse;
        padding-top: 30%;
    }
    
    .bubbles-chart {
        width: 100%;
        height: 60%;
        padding: 0px;
    }
}

.bubbles-sidebar {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 350px;
    /* border: 1px solid #ccc; */
}

.pain-sidebar {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 350px;
    margin-top: 20px;
    /* border: 1px solid #ccc; */
}

/* Resume page */

/* ------ About Me ------ */

.about-me-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 968px;
    margin: auto;
}
  
@media screen and (min-width: 1000px) {
    .about-me-container {
        flex-direction: row;
    }
}
  
.blurb {
    color: var(--text-color);
    max-width: 650px;
    text-align: justify;
}
  
.blurb p {
    margin-bottom: 2rem;
    font-size: medium;
}
  
.profile-pic img {
    width: 75%;
    border-radius: 50%;
    margin: auto 10%;
}

.resume-button {
    border-radius: 1rem;
    border: 1px solid #009879;
    margin: 0 auto;
    background-color: #009879;
    color: white;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    padding: 1rem 1rem;
}

@media screen and (max-width: 968px) {
    .blurb {
        margin-left: 5%;
        margin-right: 5%;
    }

    .profile-pic img {
        width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
}

/* ------ Projects ------ */

.projects-container {
    max-width: 968px;
    margin: auto;
    text-align: center;
    padding: 2%;
}
  
.project-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 32px;
}

@media screen and (max-width: 968px) {
    .project-cards {
        margin-left: 10%;
        margin-right: 10%;
    }
    
}
  
.card {
    background-color: #fff;
    box-shadow: 2.4px 2.4px 3.6px rgba(0, 0, 0, .15);
    padding: 1.25rem;
    text-align: start;
}
  
.card-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 1rem;
    border: 1px solid rgba(0, 0, 0, .1);
    transition: 0.3s;
}
  
.card-img:hover {
    transform: scale(1.1);
    transition: ease-out 0.3s;
    cursor: pointer;
}
  
.card a {
    color: var(--text-color);
    text-decoration: none;
}
  
/* ------ Skills ------ */
  
.skills {
    text-align: center;
    margin-top: 2rem;
}
  
.skills-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    margin-top: 2rem;
    text-align: center;
    max-width: 500px;
    margin: auto;
}
  
.skills__item {
    margin-bottom: 1rem;
    cursor: pointer;
}
  
.skills__item img:hover {
    transform: scale(1.1);
    transition: ease-out 0.3s;
}
  
.skills img {
    max-width: 80px;
    margin-bottom: -5px;
}
  
/* ------ Contact/Footer ------ */
  
footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin: auto;
}
  
.footer-container {
    margin: 5%;
}
  
.footer__nav {
    width: 100%;
    display: flex;
    min-height: 30px;
    padding: 10px;
    bottom: 0;
    text-align: center;
    justify-content: space-between;
}
  
.footer__nav-links {
    display: none;
}
  
.footer__nav-links li a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}
  
.footer__nav-hr {
    width: 85%;
    margin-bottom: 40px;
}
  
footer p {
    max-width: 400px;
    padding-bottom: 1rem;
    margin: 0 auto;
}
  
.to-top {
    list-style-type: none;
    justify-self: flex-end;
    text-transform: uppercase;
}
  
.to-top a {
    text-decoration: none;
    color: black;
}

/* ------ Test Hamburger Menu ------ */

.noDisplay {
    display: none;
    /* top: 0px; */
}

@media only screen and (min-width: 1300px) {
    .noDisplay {
        display: none;
        /* top: 0px; */
    }
}

@media only screen and (max-width: 1300px) {

    #menuToggle {
        display: block;
        position: relative;
        top: 50px;
        left: 50px;
        
        z-index: 1;
        
        -webkit-user-select: none;
        user-select: none;
    }

    #menuToggle a {
        text-decoration: none;
        color: #232323;

        transition: color 0.3s ease;
    }

    #menuToggle a:hover {
        color: var(--green);
    }

    #menuToggle .noDisplay {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;

        cursor: pointer;

        opacity: 0; /* hide this */
        z-index: 2; /* and place it over the hamburger */

        -webkit-touch-callout: none;
    }

    /*
    * Just a quick hamburger
    */
    #menuToggle span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;

        /* background: var(--green); */
        background: black;
        border-radius: 3px;

        z-index: 1;

        transform-origin: 4px 0px;

        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    opacity 0.55s ease;
    }

    #menuToggle span:first-child {
        transform-origin: 0% 0%;
    }

    #menuToggle span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }

    /* 
    * Transform all the slices of hamburger
    * into a crossmark.
    */
    #menuToggle input:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        /* background: #232323; */
    }

    /*
    * But let's hide the middle one.
    */
    #menuToggle input:checked ~ span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    /*
    * Ohyeah and the last one should go the other direction
    */
    #menuToggle input:checked ~ span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
    }

    /*
    * Make this absolute positioned
    * at the top left of the screen
    */
    #menu {
        position: absolute;
        width: 300px;
        margin: -100px 0 0 -50px;
        padding: 50px;
        padding-top: 125px;
        padding-bottom: 75px;
        background: #ededed;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        /* to stop flickering of text in safari */

        transform-origin: 0% 0%;
        transform: translate(-100%, 0);

        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }

    #menu li {
        padding: 0px 0;
        font-size: 22px;
    }

    /*
    * And let's slide it in from the left
    */
    #menuToggle input:checked ~ ul {
        transform: none;
    }

    .sticky {
        margin-top: -30px !important;
    }

    .active {
        background-color: var(--background);
    }

    .float-left {
        float: none;
    }

    .float-right {
        float: none;
    }

    .login-button
    {
        color: black;
        padding: 14px 16px !important;
    }

    .button-background {
        position: fixed;
        background-color: var(--background);
        top: 41px;
        left: 41px;
        width: 50px;
        height: 40px;
        border-radius: 4px;
    }
    
    /* .bubbles-sidebar {
        margin-top: 10px;
    } */
}