{% extends 'base.html' %}

{% block header %}
    
{% endblock %}

{% block content %}

    <div class="condensed-content">
        <div class="center bold">
            <p>Please log in to view your watchlist!</p>
        </div>
        <form method="post">
            <div class="grid-columns">
                <label for="username">Username</label>
                <input class="large-text-input" name="username" id="username" placeholder="Enter Username" required>
                <label for="password">Password</label>
                <input class="large-text-input" type="password" name="password" id="password" placeholder="Enter Password" required>
                <input class="blue-button" type="submit" value="Log In">
            </div>
        </form>
    </div>
{% endblock %}