<!-- https://flask.palletsprojects.com/en/2.3.x/tutorial/templates/ -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} Options Scanner</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <script src="https://kit.fontawesome.com/8f53b14257.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <nav role="navigation" class="nav sticky" id="navbar">

        <div id="menuToggle">
            <div class="button-background"></div>
            <input type="checkbox">
            <span></span>
            <span></span>
            <span></span>

            <ul id="menu">
                <li class="float-left"><a class="active" href="{{ url_for('blog.index') }}">Home</a></li>
                <li class="float-left"><a class="action" href="{{ url_for('options.scanner') }}">Options Scanner</a></li>
                <li class="float-left"><a class="action" href="{{ url_for('options.profit_calc') }}">Profit Calculator</a></li>
                <li class="float-left"><a class="action" href="{{ url_for('stocks.watchlist') }}">Watchlist</a></li>
                <li class="float-left"><a class="action" href="{{ url_for('stocks.bubbles') }}">Bubble Charts</a></li>
                <li class="float-left"><a class="action" href="{{ url_for('options.max_pain') }}">Max Pain</a></li>     
                <li class="float-left"><a class="action" href="{{ url_for('stocks.monte_carlo') }}">Monte Carlo Simulation</a></li>
                <li class="float-left"><a class="action" href="{{ url_for('blog.resume') }}">Resume</a></li>
                
        
                {% if g.user %}
                    <li class="float-right"><a class="action" href="{{ url_for('stocks.watchlist') }}"><span>Hi <i>{{ g.user['username'] }}</i>!</span></a></li>
                    <li class="float-right"><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
                {% else %}
                    <li class="float-right"><a href="{{ url_for('auth.register') }}">Register</a></li>

                    <li class="login-button float-right" id="toggleButton" onclick="openLoginForm()">Log In</li>

                    <div class="form-popup" id="loginForm">
                        <form method="post" class="form-container">
                            {# <h3>Login</h3> #}

                            <label for="email"><b>Username</b></label>
                            <input type="text" placeholder="Enter Username" name="username" id="username" required>

                            <label for="psw"><b>Password</b></label>
                            <input type="password" placeholder="Enter Password" name="password" id="password" required>

                            <input type="submit" class="btn" value="Log In">
                            <button type="button" class="btn cancel" onclick="closeLoginForm()">Close</button>
                        </form>
                    </div>
                {% endif %}
            </ul>

        </div>

    </nav>

    <section>
        <header>
            {% block header %}{% endblock %}
        </header>
        {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
        {% endfor %}

        {% block content %}{% endblock %}
    </section>



    <script>
        const toggleButton = document.getElementById('toggleButton');
        const form = document.getElementById('loginForm');

        toggleButton.addEventListener('click', () => {
            if (form.style.display === 'none' || form.style.display === '') {
                form.style.display = 'block';
                // toggleButton.textContent = 'Close';
                // toggleButton.style.backgroundColor = '#e23939';
            } else {
                form.style.display = 'none';
                // toggleButton.textContent = 'Log In';
            }
        });
    </script>



    <script>
        // Sticky navbar on page Y-axis scroll
        window.onscroll = function() {myFunction()};

        var navbar = document.getElementById("navbar");
        var sticky = navbar.offsetTop;

        function myFunction() {
            if (window.pageYOffset >= sticky) {
                navbar.classList.add("sticky")
            } else {
                navbar.classList.remove("sticky");
            }
        }
    </script>
</body>
</html>